body {
    background-color: rgb(232, 236, 239);
   }
   li {
       color: rgb(114, 135, 154);
   }
   h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   }
   a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   }